<app-nav-dashboard></app-nav-dashboard>
<div class="main-dashboard-section">
  <div class="white-main-section">
    <button class="add-property-btn" (click)="gotoAddProperty()">Add New Property</button>

    <div class="properties-section">
      <!-- Property Card 1 -->
      <div class="property-card">
        <div class="property-image" 
            [style.background-image]="'url(' + propertyImageUrl + ')'">
        </div>
        <h3 class="property-name">Cozy Apartment 123 Main St.</h3>

        <div class="property-detail">
          <span class="detail-label">Address: </span>
          <span class="detail-value">456 Oak Ave, Auckland Park</span>
        </div>

        <div class="property-detail">
          <span class="detail-label">Rent: </span>
          <span class="detail-value">R4800/month</span>
        </div>

        <div class="property-detail">
          <span class="detail-label">Nearby University: </span>
          <span class="detail-value">University of Pretoria</span>
        </div>

        <div class="property-detail">
          <span class="detail-label">Nearby College: </span>
          <span class="detail-value">TUT Pretoria Campus</span>
        </div>

        <button class="view-details-btn" (click)="gotoPropertyDetails()">View Details</button>
      </div>

     
    </div>
  </div>
</div>