<app-nav-landlord></app-nav-landlord>
<div class="main-landing-landlord">
    <div class="main-title-LL-box">
        <h1 class="main-heading" style="font-size: 60px; margin-top: 50px;">Find. Apply. Settle. Simple Student Living.</h1>
        <p class="sub-heading" style="font-size: 22px;margin-top: 20px;">UniNest Go connects students with 
            their ideal homes and empowers landlords with seamless 
            property management.</p>
    </div>

    <div class="action-buttons" style="display: flex; justify-content: flex-start; width: 60vw; margin-left: 50px;">
        <button class="btn list-property-btn">List Your Property</button>
        <button class="btn find-home-btn">Find Your Home</button>
    </div>

</div>
<app-landlord-body></app-landlord-body>
  <app-footer></app-footer>