<div class="main-about-section" style="text-align: center;">
    <div class="inner-about-section" style="background-color: white; height: 80%; width: 80%;">
        <p class="why-title" 
        style="color: #4A90E2; margin-top: 30px;
        font-size: 40px; 
        font-weight: 700;">
            About UniNest Go
        </p>
        <div class="blue-line" 
        style="width: 100px; 
        height: 5px; 
        background-color: #4A90E2;
        margin: 20px auto;
        "></div>

        <div class="image-people"
        style="background: url('assets/images/peoplesImg.png');
                        background-position: center; 
                        background-repeat: no-repeat; 
                        background-size: cover;
                        height: 200px;
                        width: 400px;
                        border-radius: 15px;
                        margin: 0 auto;
                        margin-top: 40px;
                        "
        >
        </div>
        <p class="description-about" 
        style="margin-top: 60px; 
        margin-left: 190px;
        margin-right: 190px;
        color: #4A4E69;
        font-size: 24px;">
        Discover our mission to simplify student living and property management. 
            Learn about our vision, values, and the team behind UniNest Go.</p>
      <div style="height: 60px; width: 200px; 
     background-color: #4A90E2; 
     border-radius: 20px; 
     color: white; 
     display: flex; 
     align-items: center; 
     justify-content: center; 
     margin: 0 auto;
     margin-top: 30px;
     text-align: center;">
    <p style="margin: 0;">Learn More From Us</p>
</div>

    </div>

    
</div>

<div class="out-contact-us">
        <div class="inner-contact-us"
        style="height: 80vh; 
        width: 80vw; 
        margin: 0 auto;
        border-radius: 15px;
        text-align: center;
        background-color: #F5F7FA;">


            <p class="contact-title" 
        style="color: #009C13; 
        font-size: 40px; 
        font-weight: 700;">
            Contact Us
        </p>

        <div class="green-line" 
        style="width: 100px; 
        height: 5px; 
        background-color: #009C13;
        margin: 20px auto;
        "></div>

        <div class="image-people"
        style="background: url('assets/images/caller.png');
                        background-position: center; 
                        background-repeat: no-repeat; 
                        background-size: cover;
                        height: 200px;
                        width: 400px;
                        border-radius: 15px;
                        margin: 0 auto;
                        margin-top: 40px;
                        "
        >
        </div>

        <p class="description-about" 
        style="margin-top: 60px; 
        margin-left: 190px;
        margin-right: 190px;
        color: #4A4E69;
        font-size: 24px;">
        Have questions or need support? Our dedicated team is here to assist you. 
        Reach out via email, phone, or our online contact form.</p>



         <div style="height: 60px; width: 200px; 
            background-color: #009C13; 
            border-radius: 20px; 
            color: white; 
            display: flex; 
            align-items: center; 
            justify-content: center; 
            margin: 0 auto;
            margin-top: 30px;
            text-align: center;">
            <p style="margin: 0;">Get In Touch</p>
        </div>



        </div>
</div>

<div class="in-faq" style="text-align: center;">
        <div class="inner-about-section" style="background-color: white; height: 80%; width: 80%;">
        <p class="why-title" 
        style="color: #F5A623; margin-top: 30px;
        font-size: 40px; 
        font-weight: 700;">
            Frequently Asked Questions
        </p>
        <div class="blue-line" 
        style="width: 100px; 
        height: 5px; 
        background-color: #F5A623;
        margin: 20px auto;
        "></div>

        <div class="image-people"
        style="background: url('assets/images/talkingPeople.png');
                        background-position: center; 
                        background-repeat: no-repeat; 
                        background-size: cover;
                        height: 200px;
                        width: 400px;
                        border-radius: 15px;
                        margin: 0 auto;
                        margin-top: 40px;
                        "
        >
        </div>
        <p class="description-about" 
        style="margin-top: 60px; 
        margin-left: 190px;
        margin-right: 190px;
        color: #4A4E69;
        font-size: 24px;">
        Find quick answers to common questions about using UniNest Go, 
        from property listings to application processes.</p>
      <div style="height: 60px; width: 200px; 
     background-color: #F5A623; 
     border-radius: 20px; 
     color: white; 
     display: flex; 
     align-items: center; 
     justify-content: center; 
     margin: 0 auto;
     margin-top: 30px;
     text-align: center;">
    <p style="margin: 0;">View All The FAQ</p>
</div>

    </div>
</div>

<div class="tutorial" style="text-align: center; display: flex; flex-direction: column; gap: 90px;">
      <p style="color: white; font-size: 33px; font-weight: bold;">How UniNest Go Works</p>

      
    <div 
    style="
    width: 80vw; margin-top: 100px; height: 60vh;
    display: flex; gap: 60px; color: white; 
    margin: 0 auto;">

    <div class="the-first-instruction">
        <div class="number-tutorial">
            <p class="the-number">1</p>
        </div>

            <div class="picture-tutorial" style="background: url('assets/images/111.png');
                        background-position: center; 
                        background-repeat: no-repeat; 
                        background-size: cover;"></div>
            <p class="tutorial-topic-title" 
            style="font-size: 28px; font-weight: bold;"
            >Sign Up & Create Profile</p>
             <p class="description-tutorial" style="margin-top: 50px;" >Students define preferences, landlords list properties with details.</p>
    </div>

    <div class="the-second-instruction">
        <div class="number-tutorial">
            <p class="the-number">2</p>
        </div>

            <div class="picture-tutorial" style="background: url('assets/images/222.png');
                        background-position: center; 
                        background-repeat: no-repeat; 
                        background-size: cover;"></div>
            <p class="tutorial-topic-title" 
            style="font-size: 28px; font-weight: bold;"
            >Browse or List</p>
            <p class="description-tutorial" style="margin-top: 70px;" >Students explore listings, landlords publish properties to the marketplace.</p>
    </div>

    <div class="the-third-instruction" >
        <div class="number-tutorial">
            <p class="the-number">3</p>
        </div>

            <div class="picture-tutorial" style="background: url('assets/images/333.png');
                        background-position: center; 
                        background-repeat: no-repeat; 
                        background-size: cover;"></div>
            <p class="tutorial-topic-title" 
            style="font-size: 28px; font-weight: bold;"
            >Connect & Manage</p>
             <p class="description-tutorial" style="margin-top: 70px;">Students apply, landlords manage applications, leases, and maintenance.</p>
    </div>
    </div>

    
</div>
