.main-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
}

app-nav-landlord,
app-landload-landing-page, app-landlord-body, app-footer{
  width: 100vw;
  display: block;
}

