<div class="main-nav">
  <div class="logo-section">
    <p class="title-uninest">UniNest Go</p>
  </div>
  <div class="titles-section">
    <div class="desktop">
      <p>About Us</p>
      <p>Contact Us</p>
      <p>FAQ</p>
      <p (click)="gotoLogin()">Log In</p>
    </div>
    <div class="hamburger" (click)="toggleMobileMenu()">
      <i class="bi bi-list"></i>
    </div>
  </div>
</div>

<!-- Mobile menu -->
<div *ngIf="mobileMenuOpen" class="mobile-menu">
  <p>About Us</p>
  <p>Contact Us</p>
  <p>FAQ</p>
  <p (click)="gotoLogin()">Log In</p>
</div>
